h1 {
    background-color: aqua;
}
.name {
    text-align: center;
    color: blueviolet;
}
ul.hr {
    margin: 0; /* Обнуляємо значення відступів */
    padding: 4px; /* Значення полів */
}
ul.hr li {
    display: inline; /* Показувати як строчний елемент */
    margin-right: 5px; /* Відступ зліва */
    border: 1px solid #000; /* Рамка навколо тексту */
    padding: 3px; /* Поля навколо тексту */
}
.hr{
    text-align:right; 
    color:blue; 
    font-size:12px;
}
.image {
    width:30px;
    height:30px;
}
.d-flex {
    display: flex;
}